/* general layout */
body{
padding:15px;
    margin: 15px;
    font-family: 'Tangerine', serif;
    font-size: 48px;
    background-color: #f9f0ff;
    color:#722ed1;
}
.container{
    
    display: flex;
    flex-direction: column;
    width: auto;
}
/* layout of the header */
header{
    margin: 5%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
/* layout of the main part */
main{
    margin: 50px;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    font-family: 'Cormorant Garamond';
    font-size: 30px;   
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin: 10px;
    display: flex;
    justify-content: center;
}
.btn-start{
    margin: 20px;
    border: none;
    width: 80px;
    height: 40px;
    font-size: 30px;
border-radius: 10px;
color: #f9f0ff;
box-shadow: 0px 0px 2px 2px #9254de;
background-color: #722ed1;
}
.btn-start:active{
    font-size: 30px;
border-radius: 10px;
color: #722ed1;
box-shadow: 0px 0px 2px 2px #9254de;
background-color: #f9f0ff;
}
button{
    width:90px;height:40px; border:none; color:#f9f0ff; border-radius: 5px; background-color:#722ed1; font-size: 25px; margin:15px;box-shadow: 0px 0px 2px 2px #9254de;
}
section{
    display:none;
}

.yourName input{
    margin-left: 10px;
    width: 60px;
    height: 30px;
    border-color:#9254de;
    border-radius: 5px;
}
.yourName input:focus{
    outline-color:#722ed1;
    border-radius: 5px;
}
/* .yourName{
    display: flex;
} */
.yourName h2{
    margin-top: 0px;
    margin-right:20px;

}
.btn_submit{
    display:flex;
    width: 80px;
    height: 30px;
    justify-content: center;
}
.yourName button{
margin-top: 0px;
}
.yourName button:active{
    outline-color:#722ed1;
    border-radius: 5px;
    color: #722ed1;
    background-color: #f9f0ff;
}

